# 介绍

# 忽略所有.a文件
# *.a

# 由于已经忽略了所有.a,此处取反后可以不忽略。
# !lib.a

# 只忽略当前目录下的TODO文件，没有忽略子文件夹中的其他TODO文件
# /TODO

# 忽略任何目录下的build文件夹
# build/

# 忽略 doc/notes.text,但不忽略 doc/子文件夹/other.txt
# doc/*.txt

# 忽略 doc 下所有子文件夹下的.pdf文件
# doc/**/*.pdf


# 真实操作案例
# 忽略index.css这个文件
index.css

#忽略test目录下的所有文件
test/